
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #fff;
    font-family: 'Open Sans',sans-serif;
    line-height: 21px;
    font-size: 13px;
    color: #6a73ab;
}

.menu-wrapper {
    position:relative;
}

.carousel.inicial{
    top:0;
}

.carousel-inner {
    width: 100%;
    overflow: hidden;
}

.menu img {
    margin-right: 20px;
}

.menu h5 {
    display: inline-block;
    color: #FFF;
    margin-right: 20px;
}

.menu {
    position:fixed;
    top:0;
    z-index:10;
    background: rgba(12, 39, 40, 0.31);
    width:100%;
    padding: 10px 50px 10px 50px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.carousel.vertical .carousel-indicators {
    right: 20px;
    top: 50%;
    transform: translate(-50%);
    bottom: auto;
    left: auto;
    width: auto;
    margin: 0;
    padding: 0;
}

.carousel.vertical .carousel-indicators li {
    display: block;
    margin: 5px 0;
}

.imagemCarousel {
    width: 100%;
}

.navbar-default .navegar ul {
    display: inline-block;
    margin-top: 10px;
}

.navbar-default .navegar li {
    display: inline-block;
    margin-left: 30px;
}

.navbar-default .navegar>li>a {
    text-decoration: none;
    color: #FFF;
}

.navbar-default .navegar a:hover {
    color: #21b697;
    border-top: 1px solid #21b697;
    padding-top: 20px;
}

.textoHome {
    color: #FFF;
    position: absolute;
    margin-top: -28%;
    margin-left: 31%;
    margin-right: 31%;
    width: 40%;
}

#home h5 {
    display: inline-block;
}

.border {
    width: 25px;
    height: 1px;
    margin: 0 30px 0 30px;
}


#creative {
    color: #21b697;
}

#brandi {
    font-weight: bold;
}

.iconesForm {
    margin-right: 2%;
    margin-top: 10%;
}

.coracao {
    margin-top: 20px;
}

.coracao:before, .coracao:after {
    content: "______________________";
    color: #e6e8ea;
    position: relative;
    bottom: 6px;
}

.coracaoIcone {
    color:gray;
}


.subtitulos {
    font-weight: 800;
    text-transform: uppercase;
    color: #21b697;
    font-size: 28px;
    margin-top: 7%;
}


.textoMeio {
    color: #5b646e;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.5em;
    width: 70%;
    margin: auto;
}

.textoMeio p {
    margin: 3% 0  8% 0;
}

.person {
    width: 260px;
    height: 250px;
    margin-bottom: 5%;
}

.members {
    width: 260px;
    height: 250px;
    margin: 1%;
}

.name {
    font-weight: bold;
    color: #283A47;
}

.members h6 {
    color: ##4D606E;
}

.members:hover .hoverMembers {
    width: 260px;
    height: 250px;
}

.hoverMembers {
    position: absolute;
    bottom: 0;
    left: 5.9%;
    right: 0;
    background-color: #21b697;
    opacity: 0.9;
    overflow: hidden;
    width: 260px;
    height: 0;
    transition: .5s ease;
}

.textoHover {
    color: #fff;
    margin: 10px 30px 10px 30px;
}

.members:hover .name {
    color: #21b697;
}

.fundoIconeMembers {
    display: inline-block;
    background-color: #292725;
    width: 40px;
    height: 40px;
    padding: 6px;
    margin-top: 50px;
    opacity: 0.6;
}

.fundoIconeMembers:hover {
    opacity: 1;
}

.tituloFeatures {
    margin-bottom: 50px;
}

.tituloWorks {
    margin-bottom: 40px;
    margin-top: 7%;
}

.blocoFeatures h4 {
    color: #062033;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}

.tituloSecao {
    color: #0eb493;
    font-size: 28px;
    font-weight: 800;
}

.divisaoFeatures {
    padding: 0px 15px;
}

.coracao {
    margin-top: 20px;
}

.coracao:before, .coracao:after {
    content: "______________________";
    color: #e6e8ea;
    position: relative;
    bottom: 6px;
}

.coracaoIcone {
    color:gray;
}


.tituloContato {
    margin-bottom: 50px;
}

.blocoInformacoesContato {
    color: #062033;
}

.blocoInformacoesContato h3 {
    font-size: 22px;
}

.formContato h3 {
    color: #062033;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 25px;
}

.entradaForm {
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
}

.entradaForm:focus {
    border: 1px solid #0eb493;
    outline: none;
    border-style: none none solid;
    border-width: 0 0 1px;
}

.parteSuperiorForm {
    width: 45%;
    margin-bottom: 10px;
}

.campoEmailForm {
    float: right;
}

.parteMeioForm {
    width: 100%;
    margin-bottom: 10px;
}

.enviarForm {
    background: no-repeat scroll 0 15px transparent;
    border: 0 none;
    color: #062033;
    font-size: 16px;
    padding: 10px;
    text-align: right;
    margin: 0;
}

.iconeEnviarForm {
    color: #0eb493;
}

.submitForm {
    text-align: right;
}

.espacoIcone {
    width: 100%;
    margin-bottom: 15px;
}

.iconesForm {
    color: gray;
}

.iconesForm:hover {
    color: #fff;
}

#features {
    padding: 70px 0px;
    background-color: #f4f7f9;
}

#contact {
    padding-top: 70px;
    padding-bottom: 0px;
}

.filtroWorks {
    text-align: center;
    padding: 15px 15px;
    color: #062033;
}

.filtrojs:hover{
    text-align: center;
    padding: 2.5px;
    color: #0eb493;
    background-color: #0eb493;
    border-radius: 6px;
}

.txtworks:hover{
    color: #ffffff;
}

.imgzinha {
    float: left;
    width: auto;
    height: auto;
}

.hoverImg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0eb493;
    opacity: 0.7;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.txthover {
    white-space: nowrap;
    color: #ffffff;
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.conteudo:hover .hoverImg {
    width: 100%;
}

.conteudo {
    float: left;
    position: relative;
    width: auto;
}

.eye {
   position: relative;
   text-align: center;
}

.peqtexto {
   text-align: center;
   font-size: 11px;
}

.maps {
    margin-bottom: 0;
    margin-top: 5%;
}

footer {
    background-color: #17ac8c;
    color: #fff;
    width: 100%;
    display: inline-block;
    padding-top: 4%;
    padding-bottom: 3.5%;
    font-size: 0.8em;
    border-top: 5px solid #062033;
}

.themecurve {
    color: #000;
}

.createdWithLove {
    margin-bottom: 50px;
    padding-left: 10px;
    border-left: 1px solid grey;
}

.createdWithLove .coracaoIcone {
    margin: 5px;
}

.footerSubtitles {
    margin-bottom: 30px;
}

.bold {
    font-weight: bold;
    margin-top: 20px;
}

.footerForm {
    background-color: #1ac19e;
    border: 2px solid #fff;
    border-radius: 3px;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.footerForm input[type=text] {
    width: 80%;
    height: 100%;
    background: none;
    border: 0;
    outline: none;
}

.footerForm button {
    border: 0;
    background: none;
    margin-left: 20px;
    opacity: 0.6;
    outline: none;
}

.footerForm button:hover {
    opacity: 1;
}

#someFacts{
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-top: 100px;
    text-align: center;
}

.coracaoOutroIcone {
    color:#fff;
    font-weight: bold;
}

.tituloFacts{
    color: #0eb493;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 4%;
}

.imageFacts{
    padding-top: 25px;
}

.words {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-bottom:25%;
}

.number{
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
